src/com/company/Model/Automatons.dtd

<!DOCTYPE AUTOMATONS [

<!ELEMENT STRUCTURE (TYPE,AUTOMATON)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT AUTOMATON (STATE*,TRANSITION*)>
<!ELEMENT STATE (X+,Y+)>
<!ELEMENT X (#PCDATA)>
<!ELEMENT Y (#PCDATA)>
<!ELEMENT TRANSITION (FROM,TO,READ)>
<!ELEMENT FROM (#PCDATA)>
<!ELEMENT TO (#PCDATA)>
<!ELEMENT READ (#PCDATA)>

<!ATTLIST STATE ID ID #REQUIRED>
<!ATTLIST STATE NAME CDATA #REQUIRED>
]>

